{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Inicio</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="my-2 text-center">CRUD DE MÚSICA</h1>
      <div style="text-align: center">
        <img
          src="{% static 'images/inicio.jpg' %}"
          alt="Descripción de la imagen"
          class="img-fluid my-4"
          style="width: 50%"
        />
      </div>
      <p>Mira la lista de Artistas y albumes disponibles</p>
      <div class="list-group">
        <a href="/albumes/" class="list-group-item list-group-item-action"
          >Lista de Álbumes</a
        >
        <a href="/artistas/" class="list-group-item list-group-item-action"
          >Lista de Artistas</a
        >
      </div>
    </div>
    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
