<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Álbumes</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center mb-4">Lista de Álbumes</h1>
      <ul class="list-group">
        {% for album in albumes %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="d-flex align-items-center">
            {% if album.portada %}
            <img
              src="{{ album.portada.url }}"
              alt="{{ album.titulo }}"
              class="img-thumbnail"
              style="width: 100px; height: auto; margin-right: 15px"
            />
            {% endif %}
            <div>
              <a href="{% url 'detalle_album' pk=album.pk %}"
                >{{ album.titulo }}</a
              >
            </div>
          </div>
          <div>
            <a
              href="{% url 'editar_album' pk=album.pk %}"
              class="btn btn-sm btn-warning"
              >Editar</a
            >
            <a
              href="{% url 'eliminar_album' pk=album.pk %}"
              class="btn btn-sm btn-danger"
              >Eliminar</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="text-center mt-4">
        <a href="{% url 'nuevo_album' %}" class="btn btn-primary"
          >Nuevo Álbum</a
        >
        <a href="/" class="btn btn-secondary">
          <i class="bi bi-house-door"></i>
        </a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
